<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!-- 

  Therion Language Module for BBEdit and TextWrangler
  Version 1.0 B1 - Janv 10, 2018

  
  Released under a Creative Commons Attribution-ShareAlike-NonCommercial License:
	<http://creativecommons.org/licenses/by-nc-sa/4.0/>

  To install, copy here:
    
      ~/Library/Application Support/BBEdit/Language Modules/

  or here:

    ~/Library/Application Support/TextWrangler/Language Modules/

  and relaunch BBEdit or TextWrangler.

-->

<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>

	<key>BBLMColorsSyntax</key>
	<true/>

	<key>Copyright</key>
	<string>Copyright © 2015, Xavier Robert</string>
	
	<key>Author</key>
	<string>Xavier Robert</string>
	
	<key>Version</key>
	<string>1.0</string>

	<key>BBLMIsCaseSensitive</key>
	<true/>

	<key>BBLMLanguageCode</key>
	<string>XThe</string>

	<key>BBLMLanguageDisplayName</key>
	<!--<string>DigitalSky</string>-->
	<string>Therion</string>

	<key>BBLMScansFunctions</key>
	<true/>

	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>thconfig</string>
		<string>jb.th</string>
	</array>

	<key>BBLMPreferredFilenameExtension</key>
	<array>
		<string>th2</string>
		<string>th</string>
		<string>thconfig</string>
		<string>thc</string>
	</array>

	<key>BBLMSupportsTextCompletion</key>
	<true/>

	<key>BBLMCommentLineDefault</key>
	<string>#</string>

	<key>BBLMKeywordList</key>
	<array>
		<!--File .th-->
		<string>encoding</string>
		<string>survey</string>
		<string>endsurvey</string>
		<string>centerline</string>
		<string>centreline</string>
		<string>endcenterline</string>
		<string>endcentreline</string>
		<string>comment</string>
		<string>endcomment</string>
		<string>date</string>
		<string>team</string>
		<string>explo-date</string>
		<string>explo</string>
		<string>explo-team</string>
		<string>instruments</string>
		<string>position</string>
		<string>notes</string>
		<string>pictures</string>
		<string>pics</string>
		<string>insts</string>
		<string>assistant</string>
		<string>dog</string>
		<string>infer</string>
		<string>plumbs</string>
		<string>equates</string>
		<string>declination</string>
		<string>grid-angle</string>
		<string>sd</string>
		
		<string>grade</string>
		
		<string>units</string>
		<string>clino</string>
		<string>tape</string>
		<string>length</string>
		<string>compass</string>
		<string>bearing</string>
		<string>gradient</string>
		<string>tape</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>dx</string>
		<string>dy</string>
		<string>dz</string>
		<string>calibrate</string>
		<string>mark</string>
		
		
		<string>cs</string>
		<string>fix</string>
		<string>data</string>
		<string>from</string>
		<string>to</string>
		<string>length</string>
		<string>lenght</string>
		<string>backclino</string>
		<string>backcompass</string>
		<string>backbearing</string>
		<string>backgradient</string>
		<string>fromcount</string>
		<string>tocount</string>
		<string>counter</string>
		<string>depth</string>
		<string>fromdepth</string>
		<string>todepth</string>
		<string>depthchange</string>
		<string>northing</string>
		<string>easting</string>
		<string>ceiling</string>
		<string>floor</string>
		<string>ignore</string>
		<string>ignoreall</string>
		<string>left</string>
		<string>right</string>
		<string>up</string>
		<string>down</string>
		<string>extend</string>		
		<string>input</string>
		<string>equate</string>
		<string>join</string>
		<string>count</string>
		<string>map</string>
		<string>endmap</string>
		<string>break</string>
		<string>preview</string>
		<string>above</string>
		<string>flags</string>
		
		<string>group</string>
		<string>engroup</string>
		<string>walls</string>
		<string>vthreshold</string>
		<string>inclination</string>
		
		<!--File thconfig-->
		<string>layout</string>
		<string>endlayout</string>
		<string>source</string>
		<string>copy</string>
		<string>scale</string>
		<string>grid-size</string>
		<string>grid</string>
		<string>doc-author</string>
		<string>doc-title</string>
		<string>author</string>
		<string>title</string>
		<string>copyright</string>
		<string>base-scale</string>
		<string>scale-bar</string>
		<string>rotate</string>
		<string>origin</string>
		<string>origin-label</string>
		<string>color</string>
		<string>map-fg</string>
		<string>map-bg</string>
		<string>transparency</string>
		<string>opacity</string>
		<string>language</string>
		<string>map-comment</string>
		<string>statistics</string>
		<string>length</string>
		<string>topo</string>
		<string>copyright</string>
		<string>legend</string>
		<string>map-header</string>
		<string>map-header-bg</string>
		<string>layers</string>
		<string>symbol-hide</string>
		<string>point</string>
		<string>line</string>
		<string>symbol-color</string>
		<string>set</string>
		<string>width</string>
		<string>debug</string>
		<string>station</string>
		<string>names</string>
		<string>size</string>
		<string>overlap</string>
		<string>exclude</string>
		<string>pages</string>
		<string>page</string>
		<string>setup</string>
		<string>code</string>
		<string>legend-width</string>
		<string>def</string>
		<string>enddef</string>
		<string>beginpattern</string>
		<string>endpattern</string>
		<string>endcode</string>
		<string>export</string>
		<string>model</string>
		<string>database</string>
		<string>header</string>
		<string>symbol-assign</string>
		<string>projection</string>
		<string>scale</string>
		<string>stations</string>
		<string>sketch</string>
		<string>flip</string>
		<string>station-name</string>
		<string>section</string>
		<string>dimensions</string>
		<string>select</string>
		<string>bitmap</string>
		<string>grid-unit</string>
		<string>grid-flip</string>
		<string>surface</string>
		<string>endsurface</string>
		<string>revise</string>
		<string>exclude-pages</string>
		<string>page-setup</string>
		<string>if</string>
		<string>else</string>
		<string>fi</string>
		<string>elseif</string>
		<string>for</string>
		<string>forever</string>
		<string>endfor</string>
		<string>vardef</string>
		<string>\def</string>
		<string>\vbox</string>
		<string>\hbox</string>
		<string>\fi</string>
		<string>\ifx</string>
		<string>\else</string>
		<string>thdraw</string>
		<string>thclean</string>
		<string>thfill</string>
		<string>pickup</string>
		<string>draw</string>
		<string>withcolor</string>
		<string>drawarrow</string>
		<string>thdir</string>
		<string>thwarning</string>
		<string>thdrawoptions</string>
		<string>picture</string>
		<string>image</string>
		<string>numeric</string>
		<string>step</string>
		<string>until</string>
		<string>initsymbol</string>
		<string>title-pages</string>
		<string>nav-factor</string>
		<string>nav-size</string>
		<string>atlastitlepages</string>
		<string>insertmaps</string>
		<string>formattedlegence</string>
		<string>thaltitude</string>
		<string>cavemaxz</string>

		<string>esri</string>

		
		<!--File .th2-->
		<string>scrap</string>
		<string>projection</string>
		<string>copyrigth</string>
		<string>text</string>
		<string>scale</string>
		<string>orientation</string>
		
		<string>endline</string>
	
		<string>close</string>
		<string>&lt;it&gt;</string>
		<string>&lt;center&gt;</string>
		<string>&lt;bf&gt;</string>
		<string>&lt;br&gt;</string>
		
		<string>area</string>
		<string>endarea</string>
		<string>point</string>
		<string>cave</string>
		<string>name</string>
		<string>outline</string>
		<string>id</string>
		<string>symbol-colour</string>
		
		<!--Tex words-->
		<string>edef</string>
		<string>nostring</string>
		<string>ifx</string>
		<string>if</string>
		<string>newtoks</string>
		<string>nostring</string>
		<string>tmp</string>
		<string>ss</string>
		<string>si</string>
		<string>vss</string>
		<string>empty</string>
		<string>hfill</string>
		<string>box</string>
		<string>vbox</string>
		<string>rightskip</string>
		<string>plus</string>
		<string>parskip</string>
		<string>medskip</string>
		<string>par</string>
		<string>everypar</string>
		<string>hangindent</string>
		<string>hangafter</string>
		<string>bigskip</string>
		<string>hsize</string>
		<string>cartotitle</string>
		<string>thaltitude</string>
		<string>legendcontent</string>
		<string>legendwidth</string>
		<string>ifnortharrow</string>
		<string>northarrow</string>
		<string>legendtextheadersize</string>
		<string>scalebar</string>
		<string>ifscalebar</string>
		<string>legendtextsize</string>
		<string>legendtextcolor</string>
		<string>outcsname</string>
		<string>northdir</string>
		<string>magdecl</string>
		<string>cavename</string>
		<string>cavelength</string>
		<string>cavelengthtitle</string>
		<string>cavedepth</string>
		<string>cavedephtitle</string>
		<string>currentdate</string>
		<string>copyrights</string>
		<string>formattedlegend</string>
		<string>dopage</string>
		<string>ht</string>
		<string>navbox</string>
		<string>framed</string>
		<string>hbox</string>
		<string>mapbox</string>
		<string>space</string>
		<string>ifpagenumbering</string>
		<string>pagenum</string>
		<string>pagename</string>
		<string>qquad</string>
		<string>vtop</string>
		<string>hss</string>
		<string>showpointer</string>
		<string>pointerW</string>
		<string>pointerN</string>
		<string>pointerS</string>
		<string>pointerE</string>
		<string>pointerU</string>
		<string>pointerD</string>
		<string>updownarrows$</string>
		<string>leftrightarrow$</string>
		<string>rlap</string>
		<string>arr</string>
		<string>uparrow$</string>
		<string>downarrow$</string>
		<string>showpointerlist</string>


		<string>max</string>
		<string>xpart</string>
		<string>ypart</string>
		<string>urcorner</string>
		<string>llcorner</string>
		<string>lrcorner</string>
		<string>ulcorner</string>
		<string>clip</string>
		<string>bbox</string>
		<string>unknown</string>
		<string>angle</string>
		<string>mod</string>
		<string>upto</string>
		<string>subpath</string>
		<string>interim</string>
		<string>linejoin</string>
		<string>linecap</string>
		<string>yscale</string>
		<string>xscale</string>
		<string>btex</string>
		<string>pair</string>
		<string>thelabel</string>
		<string>bboxmargin</string>
		<string>write_circ_bbox</string>
		<string>process_uplabel</string>
		<string>process_downlabel</string>
		<string>process_updownlabel</string>
		<string>process_circledlabel</string>
		<string>process_boxedlabel</string>
		<string>process_filledlabel</string>
		<string>process_label</string>
		<string>verbatimtex</string>
		<string>precontrol</string>
		<string>postcontrol</string>
		<string>whatever</string>
		<string>control</string>
		<string>and</string>
		<string>fill</string>
		<string>unfill</string>
		<string>withpattern</string>
		<string>unitvector</string>
		<string>subpath</string>
		<string>drawdot</string>
		<string>save</string>
		<string>cutafter</string>
		<string>xscale</string>
		<string>yscale</string>
		<string>drawoptions</string>
		<string>thTEX</string>
		<string>decimal</string>
		<string>hsize</string>
		<string>the</string>
		<string>known</string>
		<string>p_label</string>
		<string>push_label_fill_color</string>
		<string>pop_label_fill_color</string>
		<string>whereto</string>
		<string>labeloffset</string>
		<string>bboxmargin</string>
		<string>write_circ_bbox</string>
		<string>superellipse</string>
		<string>cutbefore</string>


		

		
		

	</array>
	
	<key>BBLMPredefinedNameList</key>
	<array>

		<!--options-->
		<string>label</string>
		<string>water-flow</string>
		<string>air-draught</string>
		<string>breakdown-choke</string>
		<string>continuation</string>
		<string>entrance</string>
		<string>arrow</string>
		<string>contour</string>
		<string>smooth</string>
		<string>rock</string>
		<string>border</string>
		<string>wall</string>
		<string>station</string>
		<string>endscrap</string>
		<string>pebbles</string>
		<string>altitude</string>
		<string>tree</string>
		<string>crystal</string>
		<string>border</string>
		<string>height</string>
		<string>traverse</string>
		<string>rope</string>
		<string>u:</string>
		<string>edge</string>
		<string>gypsum</string>
		<string>gypsum-flower</string>
		<string>dig</string>
		<string>water</string>
		<string>arrow</string>
		<string>clay</string>
		<string>sand</string>
		<string>reverse</string>
		<string>blocks</string>
		<string>ice</string>
		<string>snow</string>
		<string>spring</string>
		<string>root</string>
		<string>vegetable-debris</string>
		<string>flow</string>
		<string>rock-border</string>
		<string>pit</string>
		<string>overhang</string>
		<string>sink</string>
		<string>doline</string>
		<string>arch</string>

		<string>underlying</string>
		<string>overlying</string>
		<string>unsurveyed</string>
		<string>presumed</string>
		<string>conjectural</string>
		<string>intermittent</string>
		<string>sump</string>

		<string>remark</string>
		<string>height</string>
		<string>passage-height</string>
		<string>station-name</string>
		<string>bedrock</string>
		<string>raft</string>
		<string>debris</string>
		<string>guano</string>
		<string>flowstone</string>
		<string>moonmilk</string>
		<string>stalactite</string>
		<string>stalacmite</string>
		<string>pillar</string>
		<string>curtain</string>
		<string>helicitite</string>
		<string>soda-straw</string>
		<string>wall-calcite</string>
		<string>popcorn</string>
		<string>disk</string>
		<string>gypsum-flower</string>
		<string>aragonite</string>
		<string>cave-pearl</string>
		<string>rimstone-pool</string>
		<string>rimstone-dam</string>
		<string>anastomosis</string>
		<string>karren</string>
		<string>scallop</string>
		<string>flute</string>
		<string>raft-cone</string>
		<string>anchor</string>
		<string>fixed-lader</string>
		<string>rope-lader</string>
		<string>steps</string>
		<string>bridge</string>
		<string>traverse</string>
		<string>camp</string>
		<string>no-equipment</string>
		<string>narrow-end</string>
		<string>low-end</string>
		<string>flowstone-choke</string>
		<string>archeo-material</string>
		<string>paleo-material</string>
		<string>root</string>
		<string>spring</string>
		<string>ice-stalactite</string>
		<string>ice-stalacmite</string>
		<string>stalactite</string>
		<string>stalacmite</string>
		<string>ice-pillar</string>
		<string>pillar</string>
		<string>gradient</string>
		<string>map-connection</string>
		<string>extra</string>
		<string>rock-edge</string>
		<string>slope</string>
		<string>water-drip</string>
		<string>ice-stalagmite</string>
		<string>seed-germination</string>
		<string>curtains</string>
		<string>disc-pillar</string>
		<string>disc-stalactite</string>
		<string>disc-stalagmite</string>
		<string>disc-pillars</string>
		<string>disc-stalactites</string>
		<string>disc-stalagmites</string>
		<string>pillar-with-curtains</string>
		<string>pillars-with-curtains</string>
		<string>stalagmite</string>
		<string>stalagmites</string>
		<string>stalactites</string>
		<string>stalactite-stalagmite</string>
		<string>stalactites-stalagmites</string>
		<string>mudcrack</string>
		<string>volcano</string>
		<string>mud</string>
		<string>clay-choke</string>
		<string>wall-altitude</string>



		<string>empty</string>
		<string>-in</string>
		<string>-out</string>
		<string>-proj</string>
		<string>-projection</string>
		<string>-fmt</string>
		<string>-format</string>
		<string>-layout</string>
		<string>-o</string>
		<string>-output</string>
		<string>-copyright</string>
		<string>-title</string>
		<string>-entrance</string>
		<string>-author</string>
		<string>-scale</string>
		<string>-text</string>
		<string>-orientation</string>
		<string>-close</string>
		<string>-name</string>
		<string>-subtype</string>
		<string>-id</string>
		<string>-value</string>
		<string>-orientation</string>
		<string>-orient</string>
		<string>-align</string>
		<string>-place</string>
		<string>-clip</string>
		<string>-dist</string>
		<string>-from</string>
		<string>-visibility</string>
		<string>-context</string>
		<string>-extend</string>
		<string>-scrap</string>
		<string>-explored</string>
		<string>-outline</string>
		<string>-reverse</string>
		<string>-size</string>
		<string>-r-size</string>
		<string>-l-size</string>
		<string>-smooth</string>
		<string>-adjust</string>
		<string>-place</string>
		<string>default</string>
		<string>-clip</string>
		<string>-context</string>
		<string>-altitude</string>
		<string>-border</string>
		<string>-direction</string>
		<string>begin</string>
		<string>both</string>
		<string>-gradient</string>
		<string>center</string>
		<string>-head</string>
		<string>-count</string>
		<string>-survey</string>
		<string>-filter</string>
		<string>-surveys</string>
		<string>-attr</string>
		<string>station-names</string>
		
		<string>create</string>
		<string>use</string>
		
		<string>xs</string>
		<string>s</string>
		<string>m</string>
		<string>l</string>
		<string>xl</string>
		<string>n</string>
		<string>s</string>
		<string>e</string>
		<string>w</string>
		<string>ne</string>
		<string>nw</string>
		<string>se</string>
		<string>sw</string>

		
		<string>on</string>
		<string>off</string>
		<string>auto</string>
		<string>above</string>
		<string>below</string>
		<string>all</string>
		<string>fr</string>
		<string>en</string>
		<string>es</string>
		
		<string>meters</string>
		<string>meter</string>
		<string>m</string>
		<string>centimeters</string>
		<string>centimeter</string>
		<string>cm</string>
		<string>inch</string>
		<string>inches</string>
		<string>in</string>
		<string>feet</string>
		<string>feets</string>
		<string>ft</string>
		<string>yard</string>
		<string>yards</string>
		<string>yd</string>
		<string>degrees</string>
		<string>degree</string>
		<string>deg</string>
		<string>minute</string>
		<string>minutes</string>
		<string>min</string>
		<string>grads</string>
		<string>grad</string>
		<string>mils</string>
		<string>mil</string>
		<string>percent</string>
		<string>percentage</string>
		<string>fixed</string>
		<string>painted</string>
		<string>temporary</string>
		<string>natural</string>
		<string>winter</string>
		<string>summer</string>
		<string>undifined</string>
		<string>permanent</string>
		<string>intermittent</string>
		<string>paleo</string>
		<string>surface</string>
		<string>duplicate</string>
		<string>splay</string>
		<string>approx</string>
		<string>approximate</string>
		<string>not</string>
		<string>attr</string>
		<string>code</string>
		<string>explored</string>
		<string>reverse</string>
		<string>vertical</string>
		<string>horizontal</string>
		<string>start</string>
		<string>ignore</string>
		<string>hide</string>
		<string>bottom</string>
		<string>metapost</string>
		<string>tex-map</string>
		<string>tex-atlas</string>
		<string>explo-length</string>
		<string>topo-length</string>
		
		<string>normal</string>
		<string>topofil</string>
		<string>diving</string>
		<string>cartesian</string>
		<string>cylpolar</string>
		<string>dimensions</string>
		<string>nosurvey</string>
		
		<string>l-size</string>
		
		<string>none</string>
		<string>plan</string>
		<string>elevation</string>
		<string>extended</string>
		<string>map</string>
		<string>model</string>
		<string>pdf</string>
		<string>xvi</string>
		<string>svg</string>
		<string>sql</string>
		<string>kml</string>
		<string>vrml</string>
		<string>html</string>
		<string>lox</string>
		<string>3dmf</string>
		
		<string>PenA</string>
		<string>PenB</string>
		<string>PenC</string>
		<string>PenD</string>
		<string>PenE</string>
		<string>identity</string>
		<string>arclength</string>
		<string>begingroup</string>
		<string>endgroup</string>
		<string>adjust_step</string>
		<string>exitif</string>
		<string>picture</string>
		<string>pencircle</string>
		<string>scaled</string>
		<string>xscaled</string>
		<string>xscaled</string>
		<string>inscaled</string>
		<string>Scale</string>
		<string>aligned</string>
		<string>rotated</string>
		<string>dashed</string>
		<string>evenly</string>
		<string>punked</string>
		<string>randomized</string>
		<string>cycle</string>
		<string>intersectiontimes</string>
		<string>uniformdeviate</string>
		<string>boolean</string>
		<string>squared</string>
		<string>rounded</string>
		<string>defaultscale</string>
		<string>transformed</string>
		<string>labeloffset</string>
		<string>mode</string>
		<string>urt</string>
		<string>smoothed</string>
		<string>mm</string>
		<string>background</string>
		<string>..</string>
		<string>exp</string>
		<string>pos</string>
		<string>theta</string>
		<string>sc</string>
		<string>al</string>
		<string>rot</string>
		<string>ellipse</string>
		<string>optical_zoom</string>
		<string>bot</string>
		<string>rt</string>
		<string>ltf</string>
		<string>top</string>
		<string>ATTR__text</string>
		<string>ATTR_shotflag_splay</string>
		<string>ATTR_shotflag_duplicate</string>
		<string>ATTR_shotflag_approx</string>
		<string>Path</string>
		<string>waeningcheck</string>
		
		<string>black</string>
		<string>blue</string>
		<string>red</string>
		<string>green</string>
		<string>white</string>

		
		<string>fullcircle</string>
		<string>dir</string>
		<string>withpen</string>
		<string>rotatedaround</string>
		<string>path</string>
		<string>shifted</string>
		<string>arctime</string>
		<string>of</string>

		<string>lat-long</string>
		<string>long-lat</string>
		<string>utm32</string>
		<string>utm31</string>
		<string>utm18</string>
		<string>utm19</string>
		
		
	</array>
	
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
				<string>.th</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
				<string>.th2</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
				<string>thconfig</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
				<string>.thc</string>
		</dict>
	</array>
		
	<key>Language Features</key>
	<dict>
		
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz-#%</string>		
		
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>"</string>
		<key>Close Strings 2</key>
		<string>"</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>End-of-line Ends Strings 2</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		
		<key>Open Statement Blocks 1</key>
			<string>survey</string>
		<key>Close Statement Blocks 1</key>
			<string>endsurvey</string>
		
		<key>Open Statement Blocks 2</key>
			<string>centreline</string>		
		<key>Close Statement Blocks 2</key>
			<string>endcentreline</string>
			
		<key>Open Statement Blocks 3</key>	
			<string>centerline</string>
		<key>Close Statement Blocks 3</key>
			<string>endcenterline</string>
			
		<key>Open Statement Blocks 4</key>	
			<string>layout</string>
		<key>Close Statement Blocks 4</key>
			<string>endlayout</string>
			
		<key>Open Statement Blocks 5</key>	
			<string>scrap</string>
		<key>Close Statement Blocks 5</key>
			<string>endscrap</string>
			
		<key>Open Statement Blocks 6</key>	
			<string>line</string>
		<key>Close Statement Blocks 6</key>
			<string>endline</string>
			
		<key>Open Statement Blocks 7</key>	
			<string>area</string>
		<key>Close Statement Blocks 7</key>
			<string>endarea</string>
		
		<key>Open Statement Blocks 8</key>
			<string>comment</string>		
		<key>Close Statement Blocks 8</key>
			<string>endcomment</string>
			
		<key>BBLMCommentLineDefault</key>
		<!-- This is used to comment line with the shortcut cmd+shift+/ -->
			<string>#</string>
		<key>Open Block Comments</key>
		<string></string>
		<key>Open Line Comments</key> 
			<string>#</string>
		<key>PreferLineCommentsWhenCommenting</key>
		<true/>		
		<key>Comment Pattern</key>
		<string><![CDATA[
		(?x:
			(\#.*?$)         |    (?# Line comment)
			(\%.*?$)              (?# Line comment)
		)
		]]></string>

		<key>Function Pattern</key>
		<string><![CDATA[
		(?x: 
			(?P<function>
				(
					(layout\s+)        |
					(scrap\s+)            |
					(centerline\s+) 
					)
				(?P<function_name>
					[a-zA-Z0-9_!:?@]+
				)
				(?s:.+?)
				\rend(layout|scrap|centerline)\b
			)
		)
		]]></string>

<!-- 
		<key>Function Pattern</key>
		<string><![CDATA[
		(?x: 
			(?P<function>
				(
					(line\s+)          |
					(layout\s+)        |
					(scrap\s+)         |
					(area\s+)          |
					(survey\s+)        |
					(centerline\s+)    |
					(centreline\s+)    |
					(code\s+)          |
					(def\s+)
					)
				(?P<function_name>
					[a-zA-Z0-9_!:?@]+
				)
				(?s:.+?)
				\rend(line|layout|scrap|area|survey|centerline|centreline|code|def)\b
			)
		)
		]]></string>
 -->

		<key>String Pattern</key>
			<string><![CDATA["[^"\r]*"]]></string>
		<key>Skip Pattern</key>
		<string><![CDATA[
			(?x:
				(?P>comment) |
				(?P>string)
			)
		]]></string>
		
  </dict>
	
</dict>
</plist>
